<div class="">
<%= link_to '<i class="fas fa-arrow-left mr-2"></i>Back to Posts'.html_safe, posts_path, class: 'text-purple' %>
</div>

<h2 class="text-center mb-5">Create a Post</h2>

<div class="row">
  <div class="col-lg-8 mx-auto">
    <%= render 'form', post: @post %>
  </div>
</div>
