body {
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(to bottom, #fff5f6 , #fbfbfb);
  font-weight: 600;
  color: #2c2851;
}

h1,
h2 {
  font-family: 'PT Serif', serif;
  font-weight: 900;
  letter-spacing: -2px;
}

h1 {
  font-size: 4.2em;
  line-height: 0.9;
}

h2 {
font-size: 3em;
}

h3 {
  font-family: 'PT Serif', serif;
}

.link-color {
  color: #2c2851;
}

.logo {
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(to bottom right, #cf6fd8 , #f7ac8b);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
}

.logo a {
  position: absolute;
  right: 10px;
  top: 12px;
  color: #fff;
}

p {
  line-height: 1.8em;
}

.text-purple {
  color: #cf6fd8;
}

.btn-purple,
.bg-purple {
  color: white;
  background: #cf6fd8;
}
